/**
  * ===========================================================
  * FOOTER desktop
  * ===========================================================
*/

.footer {
  background: #F0F0F4;

  &__top {
    padding-top: 43px;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
  }

  &__top-newsletter.footer__top-item {
    width: 295px;
    margin-right: 50px;
  }

  &__top-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }

  &__top-item {
    width: 200px;
  }

  &__top-social.footer__top-item {
    width: 250px;
  }

  &__topdrop {
    pointer-events: none;
  }

  &__bottom {
    padding: 46px 0 22px;
    display: flex;
    justify-content: center;
  }

  &__bottom-link {
    font-size: 10px;
    line-height: 12px;
    color: #48494D;
    margin: 0 40px;
  }
}

.footer-form {
  margin-top: 34px;
  display: flex;

  &__input {
    background-color: #fff;
    border: none;
    font-size: 14px;
    line-height: 17px;
    padding: 0 12px;
  }

  &__input::placeholder {
    color: #C4C4C4;
  }

  &__btn {
    font-family: 'SFProDisplay-Semibold', sans-serif;
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    background-color: #1C62CD;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
  }
}

.footer-list {
  font-size: 14px;
  line-height: 22px;
}

.social-list {
  display: flex;
  align-items: center;
  height: 100%;

  &__item+.social-list__item {
    margin-left: 30px;
  }
}

/**
  * ===========================================================
  * FOOTER tablet
  * ===========================================================
*/

@media (max-width: @tablet-width) {
  .footer__top-inner{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__top-item{
    margin-bottom: 25px;
  }
}


/**
  * ===========================================================
  * FOOTER mobile
  * ===========================================================
*/
@media (max-width: @mobile-width) {
  .footer__top-item{
    width: 100%;
  }

  .footer__bottom{
    flex-direction: column;
    align-items: start;

  }

  .footer__bottom-link{
    margin: 12px 0;
  }

  .footer__top-inner{
    justify-content: start;
  }

  .footer__top-social.footer__top-item{
    width: 100%;
    border-bottom: none;
  }

  .footer__top-newsletter.footer__top-item{
    margin-right: auto;
    margin-left: auto;
    width: 290px;
    text-align: center;
  }

  .social-list{
    justify-content: center;
  }

  .footer-list{
    display: none;
  }

  .footer__top-title.footer__topdrop {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: -0.0861538px;

    color: #7F7F7F;
    padding: 15px 0;
  }

  .footer__top-item{
    border-bottom: 2px solid #F9F9FC;
  }

  .footer__top-itemdrop{
    margin-bottom: 0;
    border-top: 2px solid #F9F9FC;
  }

  .footer__topdrop{
    position: relative;
  }
  .footer__topdrop::after{
    position: absolute;
    content: '';
    background-image: url('../images/arrow-down.svg');
    width: 12px;
    height: 8px;
    right: 0;
    top: 21px;
  }

  .footer__topdrop--active::after{
    transform: rotate(180deg);
  }

  .footer__topdrop{
    pointer-events: auto;
  }
}
